html, body{
	height: 100%;
	margin: 0;
    padding: 0;
}

#root{
	height:100%;
	//min-height: 100% !important;
	display: block;

	& .pane{
		top: 0;
		//height: 450px;
		height:100%;
		//min-height: 100% !important;
		line-height: 450px;
		float: left;
		font-size: 80px;
		text-align: center;
		display: block;
		width: 100%;
		position: relative;
		background-color: #ffffcc;
	}

	& .hidden{
		display: none;
	}

	& button{
		position: fixed;
	}
}

/* viewport support*/
@-ms-viewport {
   width: device-width;
}
@-o-viewport { 
   width: device-width;
}
@viewport {
   width: device-width; 
}

/* Responsive UI */
@media screen and (max-width: 450px) {
	.header{
		display: none !important;
	}

}
